body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-image: url('file:///C:/Users/Student%2012/Downloads/img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* nebo můžete použít jinou výšku dle potřeby */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledný černý překryv */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headliner {
    color: white;
    font-size: 3em;
    text-align: center;
    z-index: 1;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

  }

h1{
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color:#feeeec;
    font-weight: 400;
}

h4 {
    font-weight: 700;
    font-weight: bolder;
}

.h3 {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 50px;
}
