body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background: #63A069;
    color: #ffffff
    4;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px 0;
}
#booking-form {
    background: rgb(189, 223, 148);
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}
#booking-form label,
#booking-form input,
#booking-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#booking-form button {
    background: #63A069;
    color: #63A069;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#search-results {
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: rgb(189, 223, 148);
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.product {
    display: flex;
    font-size: 20px;
    background-color: rgb(189, 223, 148);
    padding: 5px;
    padding-bottom: 5px;
}
.nálada {
    flex-flow: row-reverse;
    background-color: #63A069;
    padding: 10px;
    
}
.lol {
    display: flex;
    font-size: 20px;
    background-color: rgb(189, 223, 148);
    padding: 5px;
    padding-bottom: 5px;
}
.ahoj {
    display: flex;
    font-size: 20px;
    background-color: rgb(189, 223, 148);
    padding: 5px;
    padding-bottom: 5px;
}
.máma {
    flex-flow: row-reverse;
    background-color: #63A069;
    padding: 10px;
    
}
.cus {
    flex-flow: row-reverse;
    background-color: #ffffff;
    padding: 10px;
    
}
.táta {
    flex-flow: row-reverse;
    background-color: rgb(189, 223, 148);
    padding: 10px;
    
}
.ema {
    flex-flow: row-reverse;
    background-color: rgb(189, 223, 148);
    padding: 10px;
    
}
